
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<table>
    <tr><td><table><tr><th>Engine</th></tr><tr><td>Value 1</td><td>Data1</td></tr></table></td>                    <td><table><tr><th>Fuel</th></tr><tr><td>value1</td><td>data1</td></tr></table></td></tr>
    <tr><td><table><tr><th>Body</th></tr><tr><td>Value 1</td><td>Data1</td></tr></table></td>                     <td><table><tr><th>Service</th></tr><tr><td>value1</td><td>data1</td></tr></table></td></tr>
</table>





<table>
    <tr><td><table><tr><th>Engine</th></tr><tr><td>Power Maximum :</td> <td>@Model.PowerMaximum</td></tr><tr><td>Torque Maximum :</td> <td>@Model.TorqueMaximum</td></tr><tr><td>Max Speed :</td> <td>@Model.MaxSpeed</td></tr><tr><td>Acceleration :</td> <td>@Model.Acceleration</td></tr><tr><td>Transmission Type :</td> <td>@Model.Transmission</td></tr></table></td>                         <td><table><tr><th>Fuel</th></tr><tr><td><b>Fuel Type :</b></td> <td>@Model.FuelType</td></tr><tr><td>Fuel Consumption :</td> <td>@Model.FuelConsumption</td></tr><tr><td>Co2 Emissions :</td> <td>@Model.C02Emissions</td></tr><tr><td>Fuel Tank Capacity :</td> <td>@Model.FuelTankCapacity</td></tr><tr><td>Fuel Range :</td> <td>@Model.FuelRange</td></tr></table></td></tr>
    <tr><td><table><tr><th>Body</th></tr><tr><td>Value 1</td><td>Data1</td></tr></table></td>                     <td><table><tr><th>Service</th></tr><tr><td>value1</td><td>data1</td></tr></table></td></tr>
</table>
